body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--app-bg-color);
  color: var(--app-text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button,
input,
select,
textarea,
optgroup {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
}

.content-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 70px;
  flex-grow: 1;
}

.page-section {
  display: none;
}

.page-section.active {
  display: block;
}

.page-section-title {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--app-section-title-color);
  text-align: left;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 20px;
  line-height: 1;
}